*{
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #1D6362;
    --secondary-color: #ffffff;
}

main {
    font-family: Inter;
    font-style: normal;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 12px;
}

.green-background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F8EE;
    margin: 40px 0 0 5.33%;
    width: 170px;
    height: 30px;
    border-radius: 100px;
}

.green-text{
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
}

.title{
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    color: #1D1E25;
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.36px;
}

.caption{
    margin: 16px 6.66% 0 5.33%;
    color: #7E8492;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-top: 32px;
}

.green-button, .white-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    width: 165px;
    height: 54px;
    border-radius: 8px;
}

.white-button{
    background-color: var(--secondary-color);
    border: 1px solid #EDEDED;
}

.text-green-button, .text-white-button{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.text-white-button{
    color: var(--primary-color);
}

.arrow-button{
    margin-top: 5px;
}