*{
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #1D6362;
    --secondary-color: #ffffff;
}

main{
    font-family: Inter;
    font-style: normal;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 12px;
}

.green-background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F8EE;
    margin: 40px 0 0 5.33%;
    width: 170px;
    height: 30px;
    border-radius: 100px;
}

.green-text{
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
}

.title-1{
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    color: #1D1E25;
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.36px;
}

.caption{
    margin: 16px 6.66% 0 5%;
    color: #7E8492;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 92%;
    margin: 0 auto;
    margin-top: 32px;
}

.green-button, .white-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 165px;
    height: 54px;
    border-radius: 8px;
}

.white-button{
    background-color: var(--secondary-color);
    border: 1px solid #EDEDED;
}

.text-green-button, .text-white-button, .text-green-button-4{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    line-height: 150%;
}

.text-white-button{
    color: var(--primary-color);
}

.arrow-button{
    margin-top: 5px;
}

.img{
    display: flex;
    justify-content: center;
    margin-top: 31px
}

.container{
    background-color: var(--primary-color);
    margin-top: 48px;
}

.background-element{
    background-image: url(/img/Element.svg);
}

.text-block-1{
    margin: 0 auto;
    width: 90%;
    padding-top: 56px;
}

.title-2{
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.32px;
}

.text-1{
    color: #EDEDED;
    margin-top: 16px;
    line-height: 26px;
}

.text-block-2, .text-block-3, .text-block-4{  
    color: var(--secondary-color);
    margin: 40px 10% 0 5%;
}

.icon-1, .icon-2, .icon-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.title-3, .title-4, .title-3b{
    margin: 16px 10% 0 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.title-3, .title-3b{
    margin-right: 20%;
}

.text-2, .text-3, .text-2b{
    margin-top: 8px;
    font-size: 14px;
    line-height: 150%;
}

.text-block-4{
    padding-bottom: 56px;
}

.img-2{
    display: flex;
    justify-content: center;
    padding-top: 7px;
    margin: 56px 5% 40px 5%;
    background-color: #E0F1E0;
    width: 89%;
    border-radius: 8px;
}

.title-5{
    margin: 0 7% 0 5%;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.32px;
}

.text-4{
    margin: 16px 8% 0 5%;
    color: #7E8492;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
}

.green-button-2, .green-button-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 180px;
    height: 54px;
    border-radius: 8px;
    margin: 24px 0px 56px 5%;
}

.green-button-3{
    margin: 24px 0px 56px 0px;
}

.arrow-button-2, .arrow-button-3{
    margin-top: 5px;
}

.text-green-button-2, .text-green-button-3{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.section-3{
    padding-top: 56px;
}

.img-3{
    display: flex;
    justify-content: center;
    padding-top: 14px;
    margin: 0px 5% 40px 5%;
    background-color: #E0F1E0;
    width: 89%;
    border-radius: 8px;
}

.section-5{
    padding-top: 56px;
}

.text-5{
    margin: 16px 9% 0 5%;
    color: #7E8492;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.title-6{
    margin-top: 72px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.section-6{
    width: 90%;
    margin: 0 auto;
}

.text-name{
    margin: 24px 0px 8px 0px;
    font-size: 18px;
    font-weight: 600;
}

.text-cursive{
    font-family: "Sonsie One";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #7E8492;
}

.loading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}

.number-1, .number-2{
    font-weight: 500;
    line-height: 26px;
    color: #7E8492;
}

.rectangle-1{
    width: 100%;
    height: 3px;
    background-color: #E0F1E0;
}

.rectangle-2{
    width: 35%;
    height: 3px;
    background-color: var(--primary-color);
}

.img-4{
    display: flex;
    justify-content: center;
    margin: 32px 0px 56px 0px;
}

.container-5{
    background-color: #E0F1E0;
}

.background-element-2{
    background-image: url(img/Element-2.svg);
}

.section-7{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 56px;
}

.title-7{
    color: #1D1E25;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.32px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.title-7 span{
    color: var(--primary-color);
}

.text-6{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #7E8492;
    padding: 16px 0px 40px 0px;
}

.section-8{
    padding-bottom: 56px;
    text-align: center;
}

.container-6{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
}

.title-8{
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.32px;
    margin-top: 56px;
}

.text-7{
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #7E8492;
    margin-top: 16px;
}

.footer{
    font-family: Inter;
    font-style: normal;
}

.section-9{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 56px auto 0px auto;
    text-align: center;
}

.text-8{
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: var(--primary-color);
    margin: 24px 0px 12px 0px;
}

.green-button-4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 175px;
    height: 48px;
    border-radius: 8px;
}

.section-10{
    width: 87.2%;
    margin: 0 auto;
    margin-top: 83px;
}

.title-9{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: var(--primary-color);
    width: 60%;
}

.submit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

.text-9{
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #757B8A;
}

.rectangle-3{
    width: 95%;
    height: 1px;
    background-color: #E2E4EB;
    margin-top: -6px;
}

.section-11{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 65px 0px 43px;
}

.texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 40px 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}

.nav-bar, .redirect, .logo-2, .img-7, .img-11{
    display: none;
}

@media(min-width: 991px){
    .header{
        font-family: Inter;
        font-style: normal;
        line-height: 26px;
        font-size: 16px;
        font-weight: 700;
        color: #1D1E25;
        padding: 24px 0px 24px 0px;
        margin: 0 auto;
        width: 86%;
    }

    .nav-bar{
        display: flex;
        justify-content: space-between;
        width: 22%;
    }

    .button-1{
        color: #1D6362;
    }

    .menu-hamburguer, .logo, .img, .img-9{
        display: none;
    }

    .redirect{
        display: flex;
        flex-direction: column;
    }

    .text-nav{
        margin-bottom: 6px;
    }

    .line{
        background-color: black;
        width: 90%;
        height: 1px;
        margin: 0 auto;
    }

    .logo-2{
        display: block;
    }

    .block-1{
        display: flex;
        flex-direction: column;

    }

    .img-7{
        display: flex;
        width: 719px;
        padding: 38px 42px 0px 0px;
    }

    .section-12{
        display: flex;
        padding-bottom: 68px;
    }

    .green-background{
        width: 194px;
        height: 37px;
    }

    .green-text{
        font-size: 14px;
        font-weight: 700;
        line-height: 150%;
    }

    .block-1{
        margin-left: 5%;
        margin-top: 65px;
    }

    .title-1{
        width: 85%;
        margin: 8px 0px 8px 5%;
        color: #1D1E25;
        font-size: 60px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -2.4px;
    }
    
    .caption{
        font-size: 18px;
        line-height: 32px;
        width: 85%;
    }
    
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-top: 42px;
    }
    
    .green-button, .white-button{
        width: 181px;
    }

    .green-button{
        margin-right: 4%;
    }

    .text-block-1{
        display: flex;
        flex-direction: column;
        width: 54.4%;
        margin-left: 7%;
    }

    .title-2{
        font-size: 56px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.56px;
    }

    .text-1{
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        width: 60%;
    }

    .text-block-2, .text-block-3, .text-block-4{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 53.5%;
        margin-left: 7%;
    }

    .icon-1, .icon-2, .icon-3{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        border-radius: 100%;
        min-width: 72px;
        height: 72px;
    }

    .title-3, .title-4, .title-3b{
        margin-left: 5%;
        font-size: 32px;
        font-weight: 600;
        line-height: 115%;
    }

    .title-3 p, .title-3b p{
        width: 145%;
    }

    .img-8, .img-11{
        display: block;
        width: 40px;
        height: 40px;
    }

    .img-10{
        width: 50px;
        height: 50px;
    }

    .text-2, .text-3, .text-2b{
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
    }

    .text-2{
        margin-left: -30px;
    }

    .text-3{
        width: 100%;
        margin-left: -30px;
        margin-right: 10px;
    }

    .text-2b{
        margin-left: -90px;
    }

    .text-block-1{
        padding-top: 92px;
    }

    .text-block-4{
        padding-bottom: 92px;
    }

}